script(type="text/javascript")
    head.ready(function() {
        $('.top').animate({ opacity: 0.25}, 2000, function() {
                // Animation complete.
        });
    });

#top
    a(href="https://github.com/michela/call-it")
      img(style="position: absolute; top: 0; right: 0; border: 0;",
        src="http://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png",
        alt="Fork me on GitHub",
        border="0"
      )
    #blurb
        a(class="audio",href="/callbullshit")
            img(
                alt="This is a $20 million ad campaign funded by pokies",
                src="/images/page0a_text.png"
                class="bottom",
                border="0"
            )
            img(
                alt="This is a $20 million ad campaign funded by pokies",
                src="/images/page0a_blank.png"
                class="top",
                border="0"
            )
    a(class="audio",href="/callbullshit")
        img(
            alt="Call Bullshit",
            src="/images/page0b.png",
            border="0",
        )