script
	head.js("https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js","/javascripts/jquery.animate-enhanced.min.js");
	head.ready(function() {
		$('.top').animate({ opacity: 0.25}, 2000, function() {
				// Animation complete.
		});
	});
#blurb
	a(href="/callbullshit")
		img(
			src="/images/page0a_text.png"
			class="bottom"
		)
		img(
			src="/images/page0a_blank.png"
			class="top"
		)
a(href="/callbullshit")
	img(
		src="/images/page0b.png"
	)