div(id="one",class="panel")
	h1 1) USE THEIR "CONTACT YOUR MP" FORM
	span(
		id="button",
		class="button button-next"
	)
		a(
			href="/auto2",
			target="_parent",
		) NEXT
	p Add your comment "
		i Dear Minister, the Clubs Australia campaign is bullshit. Please disregard this campaign and act to reduce the impact of problem gambling on Australia.
		"
	audio(
		id="player",
		autoplay="true",
		src="/audio/69127__milton__casino-1.mp3",
		preload="auto"
	)
