div(id="one",class="panel")
    h1 2) UPDATE YOUR NETWORKS
    span(id="button",class="button button-next")
        a(href="/auto3",target="_parent") NEXT
    p Update your
        span(
            id="button",
            class="button button-network"
        )
            a(href="https://twitter.com/intent/tweet?text=%23callbullshit%20%40clubsaustralia%20%40banjosydney%20%40page2comms%20campaign%20http%3A%2F%2Fis.gd%2Fpokies",
                target="mainFrame"
            ) TWITTER
        span(
            id="button",
            class="button button-network"
        )
                a(href="http://www.facebook.com/connect/prompt_feed.php?&message=#callbullshit%20@clubsaustralia%20@banjosydney%20@page2comms%20campaign%20http://is.gd/pokies",
                target="mainFrame"
            ) FACEBOOK
        span(
            id="button",
            class="button button-network"
        )
                a(href="http://www.facebook.com/connect/prompt_feed.php?&message=#callbullshit%20@clubsaustralia%20@banjosydney%20@page2comms%20campaign%20http://is.gd/pokies",
                target="mainFrame"
            ) PLUS
        \ status with 
        br
        "
        i #callbullshit @clubsaustralia @banjosydney @page2comms campaign http://is.gd/callit
        "

